.record-component {
  .container {
    height: 100%;
  }

  .recorder-component {
    display: flex;
    width: 100%;
    min-height: 0;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: #000000;
  }

  .actions {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    padding: 25px;
    background-color: #000000;

    .action {
      display: inline-block;
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-radius: 30px;
      padding: 10px 15px;
      font-family: 'proxima-nova', Helvetica, Arial;
      font-weight: 500;
      color: #FFFFFF;
      cursor: pointer;

      .hover {
        display: none;
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.25);
      }

      &:active {
        background-color: #FFFFFF;
        color: #333333;
      }

      &.submit {
        background-color: #0066BA;
        border-color: #0066BA;
        font-weight: 600;

        &:active {
          background-color: #04508D;
          border-color: #04508D;
          color: #FFFFFF;
        }
      }
    }

    .action + .action {
      margin-left: 25px;
    }
  }

  .content {
    .loading {
      font-weight: 500;
      text-align: center;
    }
  }
}
