.video-component {
  position: relative;
  display: inline-block;
  height: 150px;
  background-color: #000000;
  text-decoration: none;
  vertical-align: top;
  overflow: hidden;

  .container {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0) 75%, rgba(0,0,0,0.5));
    z-index: 1;

    .tag {
      transition: color 250ms ease, font-size 500ms ease;
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      font-size: 21px;
      font-weight: 500;
      text-decoration: none;
      text-shadow: 0px 1px 6px rgba(0,0,0,0.5);
      color: #FFFFFF;
    }
  }

  .image {
    transition: transform 500ms ease, opacity 250ms ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    z-index: 0;
    opacity: 0;
  }

  &.is-loaded {
    .image {
      opacity: 0.7;
    }
  }

  &:hover {
    .image {
      transform: scale(1.05);
    }

    .tag {
      color: #FFFFFF;
      font-size: 26px;
    }
  }
}
