.home-component {
  height: 100%;

  .pitch {
    position: relative;
    height: 350px;
    background-image: url('~assets/images/backgrounds/0.jpg');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    overflow: hidden;

    .container {
      position: relative;
      padding: 120px 35px 25px 35px;
      width: 700px;
      color: #FFFFFF;
      z-index: 1;

      & h1 {
        font-size: 30px;
      }

      & h2, & h3 {
        font-size: 22px;
      }

      & h1, & h2, & h3 {
        font-weight: 500;
        font-family: 'Gotham';
        text-shadow: 0px 1px 3px rgba(0,0,0,0.3);

        em {
          font-weight: 600;
          font-style: normal;
        }
      }
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 81, 172, 0.43);

      &:after {
        content: ' ';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100px;
        background: linear-gradient(transparent, rgba(0,0,0,0.5));
      }
    }
  }
}
