.watch-component {
  transition: opacity 500ms ease;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;

  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 50px 50px 50px 50px;
    width: 100%;
    height: 100%;
    z-index: 3;

    .video {
      position: relative;
      display: flex;
      flex-grow: 1;
      flex-shrink: 1;
      width: 100%;
    }

    .share {
      display: flex;
      width: 100%;
      flex-grow: 0;
      flex-shrink: 0;
      padding: 25px 0 0 0;
      justify-content: flex-end;
    }

    .iframe, .recorded-video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #000000;
      border: 0;
      outline: 0;
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 2;
  }

  &.is-visible {
    opacity: 1;
  }
}
